.nav-style {
    margin-left: auto;
}

.navbar-toggler {

    border: none;
}

.navbar-toggler:focus {
    outline: none;
    display: none;
}

.header {
    width: 100%;
    height: 200px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}


.main {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.hiddem-description {
    max-height: 20px;
    overflow: hidden;
}

.icon-search {
    font-size: 30px;
  }

.size-img {
    height: 172px;
}


.card {
    transition: all ease-in .20s;
}

.card:hover {
    transform: scale(1.1);
}

.footer {
    max-width: 100vw;
}

.cohort {
    margin-left: auto;
}

.img-detail {
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:767px) {
    .img-detail {
        width: 100%;
    }
}

