.nav-style {
    margin-left: auto;
}

.navbar-toggler {

    border: none;
}

.navbar-toggler:focus {
    outline: none;
    display: none;
}

.header {
    width: 100%;
    height: 200px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

/* .img-carousel {
    object-fit: cover;
    height: 500px;
} */

.main {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.hiddem-description {
    max-height: 20px;
    overflow: hidden;
}

.size-img {
    height: 172px;
}

.footer {
    max-width: 100vw;
}

.cohort {
    margin-left: auto;
}