.nav-style {
    margin-left: auto;
}

.navbar-toggler {

    border: none;
}

.navbar-toggler:focus {
    outline: none;
    display: none;
}

.text-link {
    font-weight: 600;
    color: black;
}

.nav-item:hover {
    border-bottom: #586f7e solid;
}

.header {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(158, 157, 157, 0.459), rgba(80, 79, 79, 0.575)), url(../assets/EventsHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}

.title-header {
    color: white;
    font-size: 50px;
} 

.title-header::first-letter {
    font-size: 100px;
    color: rgb(220, 20, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.firstLetter {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.firstLetter::first-letter {
    font-size: 100px;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 
.main {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

} */

.form-check-label {
    font-weight: 500;
}

.hidden-description {
    /* max-height: 20px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-search {
    font-size: 30px;
  }

.size-img {
    height: 172px;
}


.card {
    transition: all ease-in .20s;
}

.card:hover {
    transform: scale(1.1);
}

.btn-vanila {
    height: 35px;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    text-decoration: none;
    color: beige;

}
.btn-vanila:hover {
    background-color: rgba(0, 0, 255, 0.466);
    color: aliceblue;
}
.footer {
    max-width: 100vw;
}

.cohort {
    margin-left: auto;
}

.img-detail {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* .card-body {
    height: 100%;
    width: 50%;
} */

/* .img-fluid {
    height: 100%;
    object-fit: cover;
} */

@media screen and (max-width:767px) {
    .img-detail {
        width: 100%;
    }
}

